.contacts-section {
    width: 100%;

    .contacts-content {
        border-top: 94px solid transparent;

        .intro {
            font-size: 28px;
            font-weight: 400;
            margin-bottom: 10px;

            .description {
                font-weight: normal;
                line-height: 30pt;
                font-size: 15px;
                color: gray;
            }
        }

        .options {
            position: relative;
            padding: 20px;
            padding-left: 0;
            padding-right: 0;
            height: 80px;
            .comments-option {
                display: inline-block;

                .option-text {
                    width: 150px;
                }
    
                svg {
                    display: block;
                    margin: auto;
                    padding-bottom: 15px;
                }
            }

            .comments-option.mobile {
                font-size: 12px;
                padding-right: 10px;

                .option-text {
                    width: 100px;
                }
            }
    
            .email-option {
                display: inline-block;

                .option-text {
                    width: 150px;
                }
    
                svg {
                    display: block;
                    margin: auto;
                    padding-bottom: 15px;
                }
            }

            .email-option.mobile {
                font-size: 12px;
                padding-left: 10px;

                .option-text {
                    width: 100px;
                }
            }
    
            .vl {
                display: inline-block;
                border-left: 1px solid #4654aa;
                margin-left: 30px;
                margin-right: 30px;
                height: 100%;
            }
        }

        .options.mobile {
            left: initial;
        }

        .social-links {
            svg {
                padding: 10px;
                padding-bottom: 20px;
            }
        }
    }

    .contacts-content.mobile {
        border-top: 50px solid transparent;
    }
}
