.opportunities-section {
    width: 100%;
    background-color: #FAFBFC;
    outline: outset;
    outline-color: #25252521;
    outline-width: 0.1px;
    border-bottom: 94px solid transparent;
    overflow: hidden;
}

.opportunities-content {
    height: 100%;
    border-top: 94px solid transparent;

    .opportunity {
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 362px;
        height: 85px;
        overflow: hidden;
        text-align: initial;
        vertical-align: top;

        .description {
            position: relative;
            top: 10%;
        }

        .quote {
            padding-top: 17px;
            font-size: 14px;
            font-weight: 400;
            line-height: 1em;
            margin-bottom: 30px;
    
            .autor {
                margin-top: 7px;
                padding-left: 80px;
                font-weight: normal;
                line-height: 0pt;
                font-size: 14px;
                padding-top: 5px;
                font-style: italic;
                color: gray;
            }
        }

        svg {
           height: 100%;
           float: left; 
           padding-right: 20px;
        }
    }
    
    .opportunity.mobile {
        overflow: initial;
        font-size: 16px;
        text-align: center;
        &:last-child {
            &::after {
                border-top: initial;
            }
            padding-top: initial;
        }
        width: 310px;
        &:last-child {
            padding-bottom: initial;
            border-bottom: initial;
        }
        &::after {
            position: relative;
            width: 0;
            content: '';
            display: block;
            border-top: 1px solid #25252521;
            width: 80%;
            top: 30px;
            margin: auto;
        }
        &:first-child {
            &::after {
                top: 15px;
            } 
        }
        
        .quote {
            margin-top: 5px;
            margin-bottom: initial;
            line-height: 15pt;
            padding-top: initial;
            .autor {
                padding-left: initial;
                display: inline;
            }
        }
    }
}

.opportunities-section.mobile {
    border-bottom: 50px solid transparent;

    .opportunities-content{
        border-top: 50px solid transparent;
    }
}
