.vacancy-section {
    width: 100%;
    background-color: #FAFBFC;
    outline: outset;
    outline-color: #25252521;
    outline-width: 0.1px;
    overflow: hidden;
    border-bottom: 94px solid transparent;

    .vacancy-content {
        height: 100%;
        border-top: 94px solid transparent;
        padding-bottom: 1px;

        .intro {
            font-size: 28px;
            font-weight: 400;
            margin-bottom: 30px;
            padding-left: 20px;
            padding-right: 20px;

            .description {
                font-weight: normal;
                line-height: 30pt;
                font-size: 15px;
                color: gray;
            }
        }

        .vacancy-block {
            position: relative;
            margin: auto;
            margin-bottom: 30px;
            width: 1230px;
            box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

            .archive {
                position: absolute;
                color: #1264A3;
                cursor: pointer;
                padding: 10px;
                right: 0px;
                top: -50px;
            }

            .vacancy-section {
                cursor: pointer;
                outline: none;
                line-height: 70px;
                text-align: left;
                width: 100%;
                height: 78px;
                background-color: #F5F5F5;
                border-bottom: initial;
                border-top: 5px solid #F0F1F3;
                &:last-child {
                    border-bottom: 5px solid #F0F1F3;
                }

                svg {
                    position: relative;
                    padding-right: 10px;
                    padding-left: 30px;
                    top: 6px;
                }
            }

            .vacancies {
                overflow: hidden;
                max-height: 1000px;
                transition: 0.5s;
            }

            .close {
                height:  auto;
                max-height: 0;
                transition: 0.1s;
            }

            .vacancy {
                text-align: initial;
                height: 78px;
                border-bottom: 1px solid #25252521;
                &:last-child {
                    border-bottom: none;
                }

                .position {
                    display: inline-block;
                    width: 32%;
                    line-height: 70px;
                    padding-left: 30px;
                    text-align: left;
                }

                .salary {
                    display: inline-block;
                    width: 32%;
                    line-height: 70px;
                    text-align: center;
                    font-weight: normal;
                    line-height: 30pt;
                    font-size: 12px;
                    color: gray;
                }

                .more {
                    color: #1264A3;
                    display: inline-block;
                    width: 32%;
                    line-height: 70px;
                    text-align: right;

                    .text {
                        display: inline-block;
                        cursor: pointer;
                    }

                    svg {
                        cursor: pointer;
                        padding-left: 10px;
                    }
                }
            }
        }

        .vacancy-block.mobile {
            width: 100%;
            margin-bottom: 30px;

            .vacancy {
                overflow: hidden;
            }

            .position {
                cursor:pointer;
                color: #1264A3;
                padding-top: 10px;
                width: initial;
                height: 42px;
                overflow: hidden;
                line-height: initial;
            }

            .salary-wrapper {
                position: relative;
                padding-left: 30px;
                width: 100%;
                height: 35%;

                .salary {
                    width: initial;
                    position: absolute;
                    line-height: initial;
                    bottom: 10px;
                }
            }
        }
    }
}

.vacancy-section.mobile {
    border-bottom: 50px solid transparent;

    .vacancy-content {
        border-top: 50px solid transparent;
    }
}
